<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="ibox-content">
				<table class="table table-stripped table-bordered">
					<thead>
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>First Stock</th>
							<th>Income Stock</th>
							<th>Outcome Stock</th>
							<th>Sales</th>
							<th>Last Stock</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>First Stock</th>
							<th>Income Stock</th>
							<th>Outcome Stock</th>
							<th>Sales</th>
							<th>Last Stock</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>