<%= render 'template' %>
<div class="container-fluid">
    <div class="row">
        <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <h3 class="logo-name">PoS</h3>
      </div>
      <div style="color: white;">
      <h2>Welcome to AW PoS</h2>
      <p>Manage your store and make transactions easily with our cash register system.
      <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
      </p>   
      </div>
    </div>
  </div>
    </div>
    <div class="row">
        <div class="col" style="padding-right: 3%;">
            <div class="ibox">
                <div class="ibox-title">
                    <center><h1><%= link_to "I'm Superadmin", pin_superadmin_path(current_user) ,class: 'btn btn-primary btn-block' %></h1></center>
                </div>
                <div class="ibox-content">
                    <p>Monitor all your outlets easily with our application.</p>
                </div>
            </div>
        </div>
        <div class="col" style="padding-right: 3%;">
            <div class="ibox">
                <div class="ibox-title">
                    <center><h1><%= link_to "I'm Staff", root_path ,class: 'btn btn-primary btn-block' %></h1></center>
                </div>
                <div class="ibox-content">
                    <p>Manage your outlets wherever and whenever easily.</p>
                </div>
            </div>
        </div>
        <div class="col" style="padding-left: 3%;">
            <div class="ibox">
                <div class="ibox-title">
                    <center><h1><%= link_to "I'm Cashier",outlet_cashier_path(current_user) ,class: 'btn btn-primary btn-block'  %></h1></center>
                </div>
                <div class="ibox-content">
                    <p>Start selling and do as many transactions as possible.</p>
                </div>
            </div>
        </div>
    </div>
</div>