<%= render 'template' %>
<div class="container-fluid">
    <div class="row">
        <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <h3 class="logo-name">PoS</h3>
      </div>
      <div style="color: white;">
      <h2>Choose your outlet</h2>
      </div>
    </div>
  </div>
    </div>
    <div class="row">
        <% @outlets.each do |o| %>
        <div class="col-3" style="padding-left: 3%;">
            <div class="ibox">
                <div class="ibox-title">
                    <center><h1><%= link_to o.name,operator_cashier_path(current_user, o) ,class: 'btn btn-primary btn-block'  %></h1></center>
                </div>
                <div class="ibox-content">
                    <p><%= o.address+","+o.city %></p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>