<%= render 'navbar_cashier' %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<%= link_to "Create a Transaction", new_transaction_path(@outlet, @operator), class: 'btn btn-primary' %>
		</div>
	</div>
</div>